body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.introduce_myself{
    display: flex;
    margin-bottom: 150px;
}
.top_banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.welcome_part{
    width: 50%;
    padding-left: 2%;
   
}
h2{
    font-size: 50px;
}
h2 span{
    color:tomato ;
}
h3{
    font-size: 20px;
}
p{
    font-size: 16px;
}
.welcome_part img{
    width: 80%;
}
.link_button{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.sub_heading{
    font-size: 40px;
}
.dream_big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences_area{
    display: flex;

}
.details_experiences{
    margin-left: 5%;
   padding-left: 20px;
    width: 40%;
    border-left: 5px solid tomato;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.details_experiences h3{
    font-size: 40px;
}
.details_experiences h4{
    font-size: 20px;
    color: orange;
}
.full_stack{
    border-left: 7px solid tomato;
}
.baby_web{
    border-left: 7px solid blue;
}
